.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(241, 241, 241);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(236, 153, 153);
    z-index: 100;
    
}

.left-section{

    display: flex;
    align-items: center;
    cursor: pointer;
}
.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(168, 162, 162);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(121, 121, 121);
    margin-left: -1px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}
.search-button,
.voice-search-button,
.upload-icon-container,
.yt-apps-tool,
.notifiction-container,
.profile-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    cursor: pointer;
}
.search-button .toolkip,
.voice-search-button .toolkip,
.upload-icon-container .toolkip,
.yt-apps-tool .toolkip,
.notifiction-container .toolkip,
.profile-pic .toolkip{
    
    position: absolute;
    background-color: gray;
    color: white;
    padding-left: 8px ;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-radius: 3px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.20s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .toolkip,
.voice-search-button:hover .toolkip,
.upload-icon-container:hover .toolkip,
.yt-apps-tool:hover .toolkip,
.notifiction-container:hover .toolkip,
.profile-pic:hover .toolkip{
    opacity: 1;
}
.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 8px;
    font-size: 16px;
    /* border-width: 1px;
    border-style: solid;
    border-color: rgb(121, 121, 121); */ 
    border: 1px solid rgb(121, 121, 121);
    border-radius: 2px;
    box-shadow: inset 2px 2px 5px
    rgba(0, 0, 0, 0.05);
    width: 0;
}
.search-bar::placeholder{
    font-size: 16px;
}
.search-icon{
    height: 26px;
   
    
}
.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
     background-color: rgb(252, 245, 245);
}
.voice-search-icon{
    height: 23px;
   
}
.right-section{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    flex-shrink: 0;
    
}

.menu-logo{
    height: 23.99px;
    margin-left: 20px;
    margin-right: 20px;
}

.yt-logo{
    height: 20px;
}
.upload-icon{
    height: 24px;
}
.yt-apps-icon{
    height: 24px;
}
.notification-icon{
    height: 24px;
}
    .notification-msg{
            font-size: 11px;
            background-color: rgb(232, 0, 0);
            color: black;
            border-radius: 10px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 2px;
            padding-bottom: 2px;
            position: absolute;
            right: -3px;
            top: -2px;
        }
.profile-kamil{
    height: 32px;
    border-radius: 16px;
}