.sidebar{
    position:fixed ;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color:rgb(241, 241, 241);
    width: 72px;
    z-index: 200;
    padding-top: 6px;
}
.sidebar-link{
    
    height: 80px;
    display: flex;
    justify-content: center;
   flex-direction: column;
   align-items: center;
   cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(233, 233, 233);
}
.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}
.sidebar-link div{
    font-size: 10px;
}