     /* body {
            font-family: Roboto, Arial;
        } */

        .thumbnail {
           width: 100%;
          
        }

        .thumbnail-row {
            margin-bottom: 9px;
              position: relative;
              cursor: pointer;
        }

        /* GRID FOR LOGO + INFO */
        .video-info-grid {
            display: grid;
            grid-template-columns: 50px 1fr;
            cursor: pointer;
        
        }

        .c-l1 {
            width: 50px;
        }

        .p-1 {
            width: 36px;
            border-radius: 50%;
        }

        .video-info1 {
            width: 100%;
        }

        .v-t {
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            margin-bottom: 10px;
        }

        .v-a,
        .v-s {
            font-size: 13px;
            color: rgb(96, 96, 96);
        }

        .v-a {
            margin-bottom: 4px;
        }
        .video-grid{ 
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 15px;
            row-gap: 40px;
        }
        @media (max-width: 750px) {
            .video-grid{
                grid-template-columns: 1fr 1fr;
            }
        }

        @media (min-width: 1000px) {
            .video-grid{
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
        .video-time{
            font-size: 15px;
            /* padding-left: 4px;
            padding-right: 4px;
            padding-top: 4px;
            padding-bottom: 4px; */
            padding: 4px;
            font-weight: 500px;
            border-radius: 3px;
            background-color: black;
            color: white;
            position: absolute;
            bottom: 8px;
            right: 5px;
            
        }
    